/* style sheet for css-demo */
/* color scheme : #F2E6B8 (yellow) , #F4CDCB (pink) , #B8F2C9 (green) , #BFF1F2 (blue) , #B8BDF2 (purple)*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* ----------- Utility Classes ----------------------*/
.container{
    padding: 40px;
    margin: auto;
}

body{
    background-color:#2A8C82;
    font-family: "Sriracha", cursive;
}

main{
    background-color:#F2E6B8;
    width: 80vw;
    /* long form*/
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    /* Short hand : Top, Right, Bottom, Left */
    margin: 40px auto 40px auto;
    /* Short hand : Top/Bottom, Left/Right */
    margin: 40px auto;
    /* short hand for border */
    border: 20px solid #41BFB3;
    border-radius: 20px;
}

header.primary {
    background-color: #9BF2EA;
    padding: 20px;
    background-image: url("https://assets.codepen.io/7248/bg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-bottom: 3px solid #0ABFBF;
}

header.primary h1, header.primary h2{
    margin: 0;
}

header.primary h1 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5rem;
    text-shadow: 2px 2px #000;
}

header.primary h2{
    color: #ffffff;
    text-shadow: 2px 2px #000;
}

header.primary div.hgroup{
    width: 70%;
}

header.primary nav{
    width: 30%;
}

header.primary nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header.primary nav ul li{
    margin-bottom; 10px;
}

header.primary nav ul li a{
    border: 1px solid #cc3a67;
    border-right: 10px solid #cc3a67;
    border-radius: 20px 0;
    color: #ffffff;
    display: #000;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 10px 10px 0;
    text-align: right;
    transition: .5s;
    text-decoration: none;
    line-height:3.5rem;
}

header.primary nva a:hover{
    background-color: rgba (o,o,o,0.9);
    text-decoration: underline;
}

#content{
    line-height:1.8rem;
}

#content h2, #content h3{
    color: #B8BDF2;
    border-left: 7.5px solid #cc3a67;
    padding: 7.5px;
    border-radius: 15px 0;
}
